.about {
    margin-bottom: 2rem;
  h3 {
    margin-bottom: 3.5rem;
  }
  &-inform {
    display: flex;
    column-gap: 10rem;
    margin-bottom: 11rem;
    & .about-form {
      display: flex;
      row-gap: 3rem;
      column-gap: 1rem;
      flex-basis: 40rem;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        font-size: 12px;
        color: #969696;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        &:last-of-type {
          width: 100%;
          height: 14rem;
          textarea { padding: 0.5rem;
            background-color: #fcfcfc;
            border: none;
            outline: none;
            box-shadow: 0px 0px 1px 0 rgba(179, 177, 177, 0.9);
            height: 100%;
            background-color: #fcfcfc;
          }
        }
        input {
          padding: 0.5rem;
          background-color: #fcfcfc;
          border: none;
          outline: none;
          box-shadow: 0px 0px 1px 0 rgba(179, 177, 177, 0.9);
        }
      }
    }
    & .about__list {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      li {
        position: relative;
        &:not(.about__list-adress):before {
          content: "";
          position: absolute;
          width: 1.3rem;
          height: 1.2rem;
          top: 50%;
          transform: translateY(-50%);
          left: -1.5rem;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &-number::before {
        background-image: url("/images/icons/phone-footer.svg");
      }
      &-mail::before {
        background-image: url("/images/icons/mail.svg");
      }
      &-insta::before {
        background-image: url("/images/icons/inst.svg");
      }
      &-adress {
        transform: translate(-1.5rem);
      }
    }
  }
  &__map{width: 100%;
    iframe{
        width: 100%;
        filter: grayscale(1);
    }
  }
}
