.cards {
  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  & h2 {
    margin-bottom: 2rem;
  }
}

.card {
  position: relative;
  padding: 1.4rem;
  position: relative;
  border-radius: 5px;
  width: calc(25% - 30px);
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__sale {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  & .main {
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14.2rem;
      height: 10.7;
      margin-bottom: 3.8rem;
    }
    &-title {
      color: var(--text-color, #414141);
      font-size: 1.14286rem;
      font-weight: 700;
      margin-bottom: 0.43rem;
    }
    &-category {
      color: var(--text-color, #414141);
      font-size: 0.78571rem;
      font-family: Roboto;
      margin-bottom: 0.64em;
    }
  }

  &__bottom {
    
    flex-direction: column;
    justify-content: center;
    padding: 1.4rem;
    display: none;
    position: absolute;
    z-index: 100;
    height: 140px;
    background-color: #fff;
    width: 100%;
    transform: translateX(-1.4rem);
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.11);
    border-radius:0 0 5px 5px;
    
  }
  &:hover {
    box-shadow: 0px -5px 9px rgba(0, 0, 0, 0.11);
   border: 5px 5px 0 0;
    .card__bottom {
      display: flex;
    }
  }

  & .price-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 1rem;
    & .main-price {
      color: var(--text-color, #414141);
      font-size: 1.14286rem;
      font-family: Roboto;
      font-weight: 500;
    }
    & .main-sale {
      font-size: 0.85714rem;
      font-family: Roboto;

      font-weight: 500;

      text-decoration: line-through;
      color: #cccccc;
    }
  }

  & .bottom {
    &-btn {
      background: #245462;
      padding: 5px;
      border-radius: 5px;
      padding: 0.57rem 0.86rem;
      color: #fff;
    }
    &-title {
      color: var(--text-color);
      font-size: 0.85714rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0.57rem;
    }
    &-table {
      margin-bottom: 10px;
      font-size: 0.64286rem;
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: 400;

      & dt {
        color: #c4c4c4;
        margin-bottom: 0.57rem;
      }
      & dd {
        color: var(--text-color, #414141);
      }
      & div {
        position: relative;
      }
      & div:nth-child(n + 2)::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 50%;
        transform: translate(-50%);
        left: -1.5rem;
        background: url(../../public/images/icons/closed.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
