.cards {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  & h2 {
    margin: 5rem 0;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }
}

.card {
  position: relative;
  padding-top: 1.4rem;
  position: relative;
  border-radius: 5px;
  max-width: 263px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 1.4rem 4rem;
  }
  &__sale {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
  }
  &__favorite {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 1.4rem 0;
  }

  & .main {
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      // height: 15rem;
      margin-bottom: 5.3rem;
    }
    &-title {
      color: var(--text-color, #414141);
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.6rem;
    }
    &-category {
      color: var(--text-color, #414141);
      font-size: 1rem;
      font-family: Roboto;
      margin-bottom: 0.8rem;
    }
  }

  &__bottom {
   
    transform: translateY(-4px);
    flex-direction: column;
    justify-content: center;
    
    padding: 0 1.4rem;
    display: none;
    position: absolute;
    z-index: 100;
    height: 14rem;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.11);
    border-radius: 0 0 5px 5px;
  }
  &:hover {
    box-shadow: 0px -3px 9px rgba(0, 0, 0, 0.11);
    border: 5px 5px 0 0;
    .card__bottom {
      display: flex;
    }
  }

  & .price-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 1.4rem;
    & .main-price {
      color: var(--text-color, #414141);
      font-size: 1rem;
      font-family: Roboto;
      font-weight: 500;
    }
    & .main-sale {
      font-size: 1.2rem;
      font-family: Roboto;

      font-weight: 500;

      text-decoration: line-through;
      color: #9a9898;
    }
  }

  & .bottom {
    &-btn {
      background: #245462;
      padding: 5px;
      border-radius: 5px;
      padding: 0.7rem 1rem;
      color: #fff;
    }
    &-title {
      color: var(--text-color);
      font-size: 1.6rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0.7rem;
    }
    &-table {
      margin-bottom: 10px;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: 400;

      & dt {
        color: #c4c4c4;
        margin-bottom: 0.7rem;
      }
      & dd {
        color: var(--text-color, #414141);
      }
      &__item {
        position: relative;
      }
      &__item:nth-child(n + 2)::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 50%;
        transform: translate(-50%);
        left: -2.1rem;
        background: url(../../public/images/icons/closed.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__counter {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    button {
      padding: 0.5rem 3rem;
      border-radius: 7px;
      background-color: var(--button-color);
      color: #fff;
    }
  }
}
.css-187mznn-MuiSlider-root {
  color: var(--button-color) !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: var(--button-color) !important;
}
@media (max-width: 1050px) {
  .cards__wrapper {
    justify-content: space-evenly;
  }
}
@media (max-width: 800px) {
  .cards {
    &__wrapper {
      justify-content: space-around;
    }
  }
}

@media (max-width: 800px) {
  .cards__wrapper {
    column-gap: 2rem;
    justify-content: space-evenly;
  }
  .card {
    max-width: 40%;
    & .main {
      &-img {
        width: 100%;
        margin-bottom: 2rem;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .card {
    & .main-title {
      font-size: 1.2rem;
    }
   & .bottom-table__item::before{
    display: none;
    
   }
  }
}
