.cardProduct {
  margin-bottom: 9rem;
  &__inner {
    display: flex;
  }
  .purches__inform {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    h3 {
      color: var(--text-color, #414141);
      font-family: Roboto;
      font-size: 2.8rem;
      font-weight: 500;
      padding-bottom: 1rem;
    }
    & .purches__inform-category {
      color: #686868;
      font-family: Roboto;
      font-size: 1.4rem;
      margin-bottom: 1.9rem;
    }
    & .payGroup {
      margin: 1.9rem 0 4.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-price {
        color: var(--text-color, #414141);
        font-family: Roboto;
        font-size: 2.8rem;
        font-weight: 500;
      }
      button {
        background-color: var(--main-color, #245462);
        padding: 1.2rem 5rem;
        color: #fff;
        font-family: Roboto;
        font-size: 1.3rem;
        box-shadow: 0px 0px 2px 1px rgba(36, 84, 98, 0.3);
        border: none;
        border-radius: 3px;
        &:active {
          box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        }
      }
      &-favorite {
        p {
          color: var(--text-color, #414141);
          font-family: Roboto;
          font-size: 1.3rem;
          position: relative;
        }
      }
      & .chengePSC {
        display: flex;
        align-items: center;
        p {
          padding: 1rem;
        }
        button {
          padding: 1rem 2.5rem;
        }
      }
    }
  }

  .product__slider {
    max-width: 600px;
    width: 100%;
    margin-bottom: 4rem;
  }

  .mySwiper2 {
    width: 30rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin-bottom: 45px;
    }
  }
  .swiper-wrapper {
    padding: 3px;
  }
  .mySwiper .swiper-slide-thumb-active {
    & .a {
      border-radius: 3px;
      box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.1);
    }
  }
  .mySwiper-product {
   & .swiper-slide{
    width: auto;
   }

    & .a {
      width: 120px;
      height: 9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
     
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-color: transparent;
      width: 30px !important;
      height: 30px !important;
      border-radius: 5px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px !important;
      color: #000 !important;
      font-weight: bolder !important;
    }
  }
}

@keyframes optionOpen {
  100% {
    height: 0;
  }
}
@keyframes rotateImg {
  100% {
    transform: rotate(180deg);
  }
}
@media (max-width: 1100px) {
  .cardProduct {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }
  .purches__inform {
    align-items: start;
  }
  .payGroup {
    column-gap: 5rem;
  }
}

@media (max-width: 390px) {
  .payGroup {
    column-gap: 2rem;
  }
}
