.cart {
  color: #414141;
  font-family: Roboto, sans-serif;

  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    font-weight: 400;
  }
  &__card {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 2rem 2.2rem;
    box-shadow: 0px 2px 4px 0px rgba(#000, 0.5);
    display: flex;
    column-gap: 4rem;
    &-delete {
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      span {
        font-size: 2rem;
      }
      button {
        border: none;
        padding: 3px 8px;
        box-shadow: 0px 0px 2px 0 rgba(#000, 0.5);
        &:active {
          background-color: #e1dede;
          border-radius: 3px;
          box-shadow: inset 0px 0px 1px 0 rgba(#000, 0.5);
        }
      }
    }
    img {
      width: 15rem;
      height: 7.5rem;
    }
    &-top {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      justify-content: space-between;
      font-weight: 500;
      img {
        width: 20px;
      }
      & .main-sale {
        color: #aeaeae;
        font-size: 10px;
        text-decoration: line-through;
      }
    }
    &-inform {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        column-gap: 1.5rem;
        align-items: center;
        div {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    &-content {
      width: 100%;
      display: flex;
      row-gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__bottom {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:end;
    column-gap: 3rem;
    button {
      background: #245462;
      color: #fff;
      padding: 3px 7px;
      border-radius: 3px;
    }
  }
}
