.catalog {
  &__inner {
    display: flex;
    column-gap: 1.5rem;
  }
  &__aside {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    position: sticky;
    top: 10px;
    max-width: 26rem;
    width: 100%;
    height: fit-content;
    box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    &-title {
      margin-bottom: 1rem;
    }
    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
    &-btns {
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      align-items: center;
    }
  }
  &__content {
    text-align: center;
    width: 100%;

    &_inner {
      width: 100%;
      display: flex;
      column-gap: 3rem;

      flex-wrap: wrap;
      justify-content: space-between;
      & .card {
        width: calc(33% - 2rem);
      }
    }
    &_btns {
      display: flex;
      justify-content: center;
      p{
        padding: 0 1rem;
      }
    }
  }
}
