.footer {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-top: 3.5rem;
  &-nav {
    padding: 2.3rem 0 3.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  & .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem 2rem;
    flex-basis: 30rem;
    height: 10rem;
    flex-wrap: wrap;
    &__btn {
      display: none;
    }
    li{cursor: pointer;}
  }
  & .inform {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    &-title {
      font-weight: 900;
      font-size: 3rem;
    }
    & .adress {
      font-size: 14px;
    }

    & .bottom-line {
      display: flex;
      column-gap: 5.4rem;
      margin-top: 2.2rem;
      row-gap: .5rem;
      & p:nth-child(2) a {
        font-size: 1rem;
      }
      & p {
        position: relative;
      }
    }
  }

  & a {
    color: var(--text-color);
    font-size: 14px;
  }

  & .phone::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: url(/images/icons/phone-footer.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  & .insta::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: url(/images/icons/inst.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  & .mail::before {
    content: "";
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: url(/images/icons/mail.svg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media(max-width:450px) {
.footer{display: none;}

}
