.register {
  background-color: rgba(#000000, $alpha: 0.6);
  padding: 1rem 2.1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  & input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    padding-left: 1.5rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #000842;
      font-size: 1.14286rem;
      font-family: Poppins;

      font-weight: 400;
    }
  }
  &__left {
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    padding: 5rem 4rem;
    border: 1px solid red;
    & label {
      color: #999;
      font-size: 0.92857rem;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 3rem;
    }
    & a span {
      font-weight: 600;
      color: #0c21c1;
    }
    & p {
      margin-bottom: 2rem;
    }
    & h2 {
      margin-bottom: 2rem;
    }
    & .form {
      &__box-field {
        display: flex;
        position: relative;
        width: 100%;
        margin-bottom: .2rem;
        border-bottom: 2px solid #000842;

        &_email::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          left: 0;
          width: 17px;
          height: 17px;
          background: url(../../public/images/image/message.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &_username::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          left: 0;
          width: 17px;
          height: 17px;
          background: url(../../public/images/icons/profile-icon.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &_password::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          left: 0;
          width: 17px;
          height: 17px;
          background: url(../../public/images/icons/password.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &-field {
        & p {
          cursor: pointer;
          margin-bottom: 0.8rem;
        }
      }
      &-button {
        background-color: #000842;
        padding: 0.5rem 1rem;
        width: 100%;
        border-radius: 15px;
        color: #fff;
      }
    }
  }
  &__right {
    border-radius: 0 4px 4px 0;
    background-color: #000842;

    padding: 9.3rem 6.4rem;
    & img {
      width: 100%;
      height: 100%;
      margin-bottom: 2.4rem;
    }
    & h3 {
      color: white;
    }
  }
}
