// font-family: "Roboto", sans-serif;
// font-family: "Roboto Condensed", sans-serif;
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: " Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
:root {
  --text-color: #414141;
  --second-text-color: #686868;
  --color-active: #d74444;
}
a {
  cursor: pointer;
  position: relative;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.active {
  color: var(--color-active) !important;
}
.displayNone {
display: none
}







@import "header";
@import "footer";
@import "home";
@import "swiper";
@import "card";
@import "form";
@import "cardProduct";
@import "catalog";
