.notFound {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img {transition-duration: 1s;
    width: 300px;
    &:nth-child(1) {
 
  filter: drop-shadow(3px  4px 40px #ff01b3);
 
    }
  }
}
