.room {
  font-family: Roboto;
  font-size: 14px;

  &__bonus {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    &_list {
      display: flex;
      column-gap: 2rem;
    }
  }
  & .program__conditions {
    padding: 1.6rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    column-gap: 5.8rem;
    margin-bottom: 4.2rem;
    li {
      display: flex;
      align-items: center;
      column-gap: 1.6rem;
    }
    &_cashback {
      &::before {
        content: url(../../public/images/icons/cashback.svg);
      }
    }
    &_rub {
      &::before {
        content: url(../../public/images/icons/Rub.svg);
      }
    }
    &_present {
      &::before {
        content: url(../../public/images/icons/present.svg);
      }
    }
  }
  &__bottom {
    input {
      padding: 0.5rem;
    }
    display: flex;
    justify-content: center;

    &_form {
      flex-basis: 45.8rem;
      h4 {
        margin-bottom: 3rem;
      }
      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }
      & .form__group_first {
        margin-bottom: 3rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        border: none;
        label {
          width: calc(50% - 0.5rem);
        }
      }
      & .form__group_second {
        border: none;
        label {
          &:first-child {
            width: calc(50% - 0.5rem);
          }
        }
      }
      & .form__group_third {
        border: none;
        margin-bottom: 2rem;
        width: 50%;
        display: flex;
        column-gap: 1rem;
        label {
          width: 25%;
        }
      }
    }
    table {
      background-color: aqua;
      overflow-y: scroll;
      display: block;
      height: 100vh;
      border: 1px solid var(--button-color);
      caption {
        text-align: left;
        margin-bottom: 2rem;
      }
      border-collapse: collapse;
      td {
        border: 1px solid var(--button-color);
        text-align: center;
        padding: 0.5rem;
      }
    }
  }
  & .popup {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    img {
      width: 100%;
    }
  }
}
